html 
{
  position:relative;
  min-height: 100%;
}

@keyframes rot
{
  from 
  {
    transform: rotate(0deg);
  }
  to 
  {
    transform: rotate(360deg);
  }
}

#picture1
{
  float : center;
}

#picture1:hover
{
  float : center;
  animation: rot 5s linear infinite;
}
  
.titre
{
  position:absolute;
  top : 100px;
  left : 220px;
  color: #DC143C;
  font-family:pacifico; 
  border-color: #d35400;
  font-size: 2em;
}

.txt1
{
  transform: rotate(-10deg);
  position:absolute;
  top : 100px;
  left : 170px;
  color: #DC143C;
  font-family:pacifico; 
  border-color: #d35400;
  font-size: 2em;
}



.txt2
{
  transform: rotate(10deg);
  position:absolute;
  top : 100px;
  left : 1200px;
  color: #DC143C;
  font-family:pacifico; 
  border-color: #d35400;
  font-size: 2em;
}



.son
{
  position:relative;
  column-count: 4;
  column-rule: 1px solid #FFF;
  column-gap: 40px;
}

body 
{
  text-align: center;
  background-color: #000000 ;
  margin-bottom: 60px;
  font-family:candara, sans-serif;

}


footer {
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 100%;
  background-color: #000000;
  border-top: 2px solid;
  border-color: #DC143C; }

.btn 
{
  width : 300px;
  height : 50px;
  background-color: #DC143C;
  box-shadow:6px 6px 0.1px #c2c2d6;
  color: #000000;
  border-color: #000000;
  border-radius:20px;
  font-size: 1.5em;
  border: 1px solid; 
  margin:1px;
  font-family:Bahnschrift Light, sans-serif; 
}
  .btn:hover {
    font-family:Bahnschrift Light, sans-serif; 
    border-radius:5px;
    background-color: #DC143C;
    border-color: #000000;
    color: #FFFFFF; }

.col-xs-6 {
  margin-bottom: 1em; }

.text {
  color: #FFFFFF; }
  .text a {
    color: #FFFFFF;
    text-decoration: underline; }
