/* settings for tags */
html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #000000	;
  margin-bottom: 60px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #34495e;
  border-top: 1px solid;
  border-color: #d35400; }

h1 {
  color: #DC143C;
  border-color: #d35400;
  font-size: 4em;
  margin-bottom: 1em; }

.btn 
{
  background-color: #DC143C;
  color: #000000;
  border-color: #000000;
  border: 1px solid; 
  margin:1px;
}
  .btn:hover {
    background-color: #DC143C;
    border-color: #000000;
    color: #FFFFFF; }

.col-xs-6 {
  margin-bottom: 1em; }

.text {
  color: #d35400; }
  .text a {
    color: #d35400;
    text-decoration: underline; }
